.container
  .block.author__block
    .author__avatar
      img(src="https://i.postimg.cc/mhfLk6hZ/11.jpg" alt="avatar")
    h2.author__header About Me
    p Hi! My name is Tatiana and I am a graphic designer and 3d visualizer. I really believe that the right design will change this world for the better.